## PROJECT SUMMARY

### PROJECT: Top 10 Economies by GDP - 10 Years Forecasting

**INTRODUCTION**

XXXXXXXXXXXXXXXXXXXXXXXX

### 01. Environment Setting

In [1]:
#Libraries
import pandas as pd
from pandas.plotting import parallel_coordinates
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import figure
import seaborn as sns
import os
import sys


#Custom Libraries
sys.path.append('../')
#from src import eda_aux as eda

#Parameters
plt.rcParams.update({'font.size': 8})

In [2]:
wd_data = os.getcwd().replace(os.getcwd().split("\\")[-1],'') + '/models/'
wd_data

'c:\\Users\\jrab9\\OneDrive\\08.Github\\2023_WDI_ts_GDP_forecasting\\/models/'

In [3]:
###--- Countries
dim_country = pd.read_csv(os.getcwd().replace(os.getcwd().split("\\")[-1],'') + '/data/final/dim_country.csv.gz')

dim_country.head()

,code,iso3,name,long_name,income_group,region,currency_name
0,533,ABW,Aruba,Aruba,High income,Latin America & Caribbean,Aruban florin
1,24,AGO,Angola,People's Republic of Angola,Lower middle income,Sub-Saharan Africa,Angolan kwanza
2,8,ALB,Albania,Republic of Albania,Upper middle income,Europe & Central Asia,Albanian lek
3,784,ARE,United Arab Emirates,United Arab Emirates,High income,Middle East & North Africa,U.A.E. dirham
4,32,ARG,Argentina,Argentine Republic,Upper middle income,Latin America & Caribbean,Argentine peso

In [4]:
###--- Values
files = os.listdir(wd_data + '/data/raw/')

df = pd.DataFrame()

for f in files:
    df_temp = pd.read_csv(wd_data + '/data/raw/' + f)
    df_temp['model'] = f
    df = pd.concat([df,df_temp])

df['model'] = df['model'].str.split('_').str[1].str.replace('.csv.gz','')
df['key'] = df['country_iso3'] + '-' + df['model']

df = df.merge(dim_country[['iso3','name']], how = 'left', left_on = 'country_iso3', right_on = 'iso3').drop(columns = 'iso3')

countries = df.country_iso3.unique()

df.head()

,time,country_iso3,level,target,tts_flag,y_pred,exp,model,key,name
0,1993,ABW,1.083240e+09,1.083240e+09,Train,1.083240e+09,"9,1,2",ARIMA,ABW-ARIMA,Aruba
1,1994,ABW,1.245810e+09,1.245810e+09,Train,1.245810e+09,"9,1,2",ARIMA,ABW-ARIMA,Aruba
2,1995,ABW,1.320670e+09,1.320670e+09,Train,1.320670e+09,"9,1,2",ARIMA,ABW-ARIMA,Aruba
3,1996,ABW,1.379888e+09,1.379888e+09,Train,1.379888e+09,"9,1,2",ARIMA,ABW-ARIMA,Aruba
4,1997,ABW,1.531844e+09,1.531844e+09,Train,1.531844e+09,"9,1,2",ARIMA,ABW-ARIMA,Aruba

In [5]:
###--- Results
files = os.listdir(wd_data + '/summary/raw/')

df_sum = pd.DataFrame()

for f in files:
    df_temp = pd.read_csv(wd_data + '/summary/raw/' + f)
    df_temp['model'] = f
    df_sum = pd.concat([df_sum,df_temp])

df_sum['model'] = df_sum['model'].str.split('_').str[1].str.replace('.csv.gz','')

###--- Getting only lower MAPE
selected_models = pd.DataFrame()

for c_code in countries:
    df_temp = df_sum[df_sum['country_iso3'] == c_code]   
    selected_models = pd.concat([selected_models, df_temp[['country_iso3','model','mape']]])
    
selected_models = selected_models[selected_models['mape'] == min(selected_models.mape)]
selected_models.drop_duplicates(inplace = True)
selected_models.reset_index(drop = True, inplace = True)
selected_models['key'] = selected_models['country_iso3'] + '-' + selected_models['model']

selected_models = df[df['key'].isin(selected_models['key'])].reset_index(drop = True).copy()

selected_models.head()

,time,country_iso3,level,target,tts_flag,y_pred,exp,model,key,name
0,1993,JOR,5.606400e+09,5.606400e+09,Train,5.606400e+09,"7,1,10",ARIMA,JOR-ARIMA,Jordan
1,1994,JOR,6.236296e+09,6.236296e+09,Train,6.236296e+09,"7,1,10",ARIMA,JOR-ARIMA,Jordan
2,1995,JOR,6.727597e+09,6.727597e+09,Train,6.727597e+09,"7,1,10",ARIMA,JOR-ARIMA,Jordan
3,1996,JOR,6.927504e+09,6.927504e+09,Train,6.927504e+09,"7,1,10",ARIMA,JOR-ARIMA,Jordan
4,1997,JOR,7.245839e+09,7.245839e+09,Train,7.245839e+09,"7,1,10",ARIMA,JOR-ARIMA,Jordan

In [9]:
df[(df['country_iso3'] == 'BRA') & (df['model'] == 'ARIMA')]

,time,country_iso3,level,target,tts_flag,y_pred,exp,model,key,name
760,1993,BRA,4.383022e+11,4.383022e+11,Train,4.383022e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
761,1994,BRA,5.462297e+11,5.462297e+11,Train,5.462297e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
762,1995,BRA,7.693331e+11,7.693331e+11,Train,7.693331e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
763,1996,BRA,8.504264e+11,8.504264e+11,Train,8.504264e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
764,1997,BRA,8.832062e+11,8.832062e+11,Train,8.832062e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
765,1998,BRA,8.637108e+11,8.637108e+11,Train,8.637108e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
766,1999,BRA,5.996420e+11,5.996420e+11,Train,5.996420e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
767,2000,BRA,6.554482e+11,6.554482e+11,Train,6.554482e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
768,2001,BRA,5.599836e+11,5.599836e+11,Train,5.599836e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
769,2002,BRA,5.097953e+11,5.097953e+11,Train,5.097953e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
770,2003,BRA,5.582337e+11,5.582337e+11,Train,5.582337e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
771,2004,BRA,6.692894e+11,6.692894e+11,Train,6.692894e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
772,2005,BRA,8.916338e+11,8.916338e+11,Train,8.916338e+11,"10,1,10",ARIMA,BRA-ARIMA,Brazil
773,2006,BRA,1.107627e+12,1.107627e+12,Train,1.107627e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
774,2007,BRA,1.397114e+12,1.397114e+12,Train,1.397114e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
775,2008,BRA,1.695855e+12,1.695855e+12,Train,1.695855e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
776,2009,BRA,1.666996e+12,1.666996e+12,Train,1.666996e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
777,2010,BRA,2.208838e+12,2.208838e+12,Train,2.208838e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
778,2011,BRA,2.616156e+12,2.616156e+12,Train,2.616156e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
779,2012,BRA,2.465228e+12,2.465228e+12,Train,2.465228e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
780,2013,BRA,2.472820e+12,2.472820e+12,Train,2.472820e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
781,2014,BRA,2.456044e+12,2.456044e+12,Test,2.546408e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
782,2015,BRA,1.802212e+12,1.802212e+12,Test,2.470617e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
783,2016,BRA,1.795693e+12,1.795693e+12,Test,2.215481e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
784,2017,BRA,2.063515e+12,2.063515e+12,Test,2.049843e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
785,2018,BRA,1.916934e+12,1.916934e+12,Test,2.028529e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
786,2019,BRA,1.873288e+12,1.873288e+12,Test,1.853753e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
787,2020,BRA,1.476107e+12,1.476107e+12,Test,1.699695e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
788,2021,BRA,1.649623e+12,1.649623e+12,Test,1.691187e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
789,2022,BRA,1.920096e+12,1.920096e+12,Test,1.691749e+12,"10,1,10",ARIMA,BRA-ARIMA,Brazil
790,2023,BRA,NaN,NaN,Predict,1.697447e+12,NaN,ARIMA,BRA-ARIMA,Brazil
791,2024,BRA,NaN,NaN,Predict,1.850167e+12,NaN,ARIMA,BRA-ARIMA,Brazil
792,2025,BRA,NaN,NaN,Predict,2.042875e+12,NaN,ARIMA,BRA-ARIMA,Brazil
793,2026,BRA,NaN,NaN,Predict,2.125637e+12,NaN,ARIMA,BRA-ARIMA,Brazil
794,2027,BRA,NaN,NaN,Predict,2.148919e+12,NaN,ARIMA,BRA-ARIMA,Brazil
795,2028,BRA,NaN,NaN,Predict,2.167393e+12,NaN,ARIMA,BRA-ARIMA,Brazil
796,2029,BRA,NaN,NaN,Predict,2.315256e+12,NaN,ARIMA,BRA-ARIMA,Brazil
797,2030,BRA,NaN,NaN,Predict,2.275345e+12,NaN,ARIMA,BRA-ARIMA,Brazil

In [9]:
df[(df['country_iso3'] == 'USA') & (df['model'] == 'HOWI')]

,time,country_iso3,level,target,tts_flag,y_pred,exp,model,key,name
999,1994,USA,7.287236e+12,7.287236e+12,Train,7.287236e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1000,1995,USA,8.068426e+12,7.639749e+12,Train,7.639749e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1001,1996,USA,9.282989e+12,8.073122e+12,Train,8.073122e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1002,1997,USA,1.100198e+13,8.577554e+12,Train,8.577554e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1003,1998,USA,1.320624e+13,9.062818e+12,Train,9.062818e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1004,1999,USA,1.597886e+13,9.631174e+12,Train,9.631174e+12,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1005,2000,USA,1.937125e+13,1.025095e+13,Train,1.025095e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1006,2001,USA,2.309462e+13,1.058193e+13,Train,1.058193e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1007,2002,USA,2.716517e+13,1.092911e+13,Train,1.092911e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1008,2003,USA,3.176306e+13,1.145644e+13,Train,1.145644e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1009,2004,USA,3.712169e+13,1.221719e+13,Train,1.221719e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1010,2005,USA,4.330233e+13,1.303920e+13,Train,1.303920e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1011,2006,USA,5.025936e+13,1.381559e+13,Train,1.381559e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1012,2007,USA,5.787503e+13,1.447423e+13,Train,1.447423e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1013,2008,USA,6.578633e+13,1.476986e+13,Train,1.476986e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1014,2009,USA,7.340583e+13,1.447806e+13,Train,1.447806e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1015,2010,USA,8.159624e+13,1.504896e+13,Train,1.504896e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1016,2011,USA,9.033741e+13,1.559973e+13,Train,1.559973e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1017,2012,USA,9.973282e+13,1.625397e+13,Train,1.625397e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1018,2013,USA,1.097175e+14,1.684319e+13,Train,1.684319e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1019,2014,USA,1.204096e+14,1.755068e+13,Test,1.758618e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1020,2015,USA,1.317570e+14,1.820602e+13,Test,1.825895e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1021,2016,USA,1.435936e+14,1.869511e+13,Test,1.908327e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1022,2017,USA,1.562124e+14,1.947734e+13,Test,1.880493e+13,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1023,2018,USA,1.698869e+14,2.053306e+13,Test,6.423081e+17,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1024,2019,USA,1.844093e+14,2.138098e+13,Test,-5.702696e+21,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1025,2020,USA,1.986112e+14,2.106047e+13,Test,5.293879e+23,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1026,2021,USA,2.150677e+14,2.331508e+13,Test,-1.345406e+26,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1027,2022,USA,2.336489e+14,2.543970e+13,Test,-3.618962e+28,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",HOWI,USA-HOWI,United States
1028,2023,USA,NaN,NaN,Predict,-2.102901e+30,NaN,HOWI,USA-HOWI,United States
1029,2024,USA,NaN,NaN,Predict,-2.102901e+30,NaN,HOWI,USA-HOWI,United States
1030,2025,USA,NaN,NaN,Predict,-3.618962e+28,NaN,HOWI,USA-HOWI,United States
1031,2026,USA,NaN,NaN,Predict,-4.137042e+31,NaN,HOWI,USA-HOWI,United States
1032,2027,USA,NaN,NaN,Predict,-2.587383e+47,NaN,HOWI,USA-HOWI,United States
1033,2028,USA,NaN,NaN,Predict,-4.832116e+52,NaN,HOWI,USA-HOWI,United States
1034,2029,USA,NaN,NaN,Predict,-1.758272e+56,NaN,HOWI,USA-HOWI,United States
1035,2030,USA,NaN,NaN,Predict,-8.776797e+59,NaN,HOWI,USA-HOWI,United States

In [25]:
df_sum

,model,exp,mape,object,country_iso3,diff,scaler
0,ARIMA,"1,1,1",2.496293,<statsmodels.tsa.arima.model.ARIMAResultsWrapp...,BRA,True,minmax
1,ARIMA,"1,1,2",1.955851,<statsmodels.tsa.arima.model.ARIMAResultsWrapp...,BRA,True,minmax
2,ARIMA,"1,1,3",1.921920,<statsmodels.tsa.arima.model.ARIMAResultsWrapp...,BRA,True,minmax
3,ARIMA,"1,1,4",9.799235,<statsmodels.tsa.arima.model.ARIMAResultsWrapp...,BRA,True,minmax
4,ARIMA,"1,1,5",6.634095,<statsmodels.tsa.arima.model.ARIMAResultsWrapp...,BRA,True,minmax
...,...,...,...,...,...,...,...
7995,HOWI,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",0.894287,<statsmodels.tsa.holtwinters.results.HoltWinte...,USA,True,minmax
7996,HOWI,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",1.395015,<statsmodels.tsa.holtwinters.results.HoltWinte...,USA,True,minmax
7997,HOWI,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",0.965945,<statsmodels.tsa.holtwinters.results.HoltWinte...,USA,True,minmax
7998,HOWI,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",0.897423,<statsmodels.tsa.holtwinters.results.HoltWinte...,USA,True,minmax
7999,HOWI,"s_level:8, s_trend:1.0, s_seasonal:1.0, trend:...",0.910691,<statsmodels.tsa.holtwinters.results.HoltWinte...,USA,True,minmax

In [78]:
!jupyter nbconvert --to webpdf --allow-chromium-download eda.ipynb

[NbConvertApp] Converting notebook eda.ipynb to webpdf
[NbConvertApp] WARNING | Alternative text is missing on 9 image(s).
[NbConvertApp] Building PDF
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 2496199 bytes to eda.pdf